# Maintained by Ansible
kafkastore.bootstrap.servers={% for host in groups['kafka_broker'] %}{% if loop.index > 1%},{% endif %}SSL://{{ host }}:{{kafka_port}}{% endfor %}

{% include './includes/base_schema-registry.properties.j2' %}

#SSL additions
kafkastore.ssl.truststore.location={{ kerberos.jks_store_folder }}/kafka.client.truststore.jks
kafkastore.ssl.truststore.password={{ kerberos.storepass_secret }}
kafkastore.ssl.keystore.location={{ kerberos.jks_store_folder }}/kafka.client.keystore.jks
kafkastore.ssl.keystore.password={{ kerberos.keypass_secret }}
kafkastore.ssl.key.password={{ host_keystore_storepass }}
kafkastore.security.protocol=SSL
