;;;; FICHERO DE CONFIGURACION DE TARSID ;;;;

[CONFIGURACION]
NOMBREDAEMON = TAR_{{ ansible_hostname }}_01
NOMBREPC = {{ ansible_hostname }}
PUERTOESCUCHA = {{ sar_tar_service_port }}   

[PROCESOTAR]
; EL TIPO DE PROCESAMIENTO PUEDE SER SERIE/PARALELO
TIPOPROCESAMIENTO = PARALELO
MAXREINTENTOSPROCESO = 1000
TIEMPOENTRECHEQUEO = 1
TIMEOUTPROCESO = 120000
TIMEOUTTOTALPROCESOS = 120000

[SERVIDORTAR]
IPSERVIDOR = {{ sar_tar_db_reference[ansible_hostname] }}
NOMBREBD = {{ sar_tar_db_name }}
;USUARIO
;PASSWORD
TIPOPROVEEDOR = POOL
NUMCONEXIONESPOOL = 100
NUMMAXCONEXIONESPOOL = 200

[SERVIDORLOGSIS]
IPSERVIDOR = {{ sar_tar_log_server }}
NOMBREBD = BDLOGSIS
;USUARIO
;PASSWORD
TIPOPROVEEDOR = POOL
NUMCONEXIONESPOOL = 100
NUMMAXCONEXIONESPOOL = 200

[SERVIDORCONFIGURACIONSIS]
IPSERVIDOR = {{ sar_tar_log_server }}
NOMBREBD = BDConfiguracionSIS
;USUARIO
;PASSWORD
TIPOPROVEEDOR = POOL
NUMCONEXIONESPOOL=100
NUMMAXCONEXIONESPOOL=200
NOMBRELOG=Logs\ProveedorBDConfiguracionSIS\logProveedorBDConfiguracionSIS

[SERVIDORBRIDGEUNO]
IPSERVIDOR= {{ sar_bridge_server1 }}
NOMBREBD=BDConfiguracionBrigeSAR

[SERVIDORBRIDGEDOS]
IPSERVIDOR= {{ sar_bridge_server2 }}
NOMBREBD=BDConfiguracionBrigeSAR


[SERVIDORSIGGER]
IPSERVIDOR = {{ sigger_db_host }}
NOMBREBD = {{ sigger_db_name }}
;USUARIO
;PASSWORD
TIPOPROVEEDOR=POOL
NUMCONEXIONESPOOL=1
NUMMAXCONEXIONESPOOL=3
NOMBRELOG=Logs\ProveedorBDSIGGER\logProveedorBDSIGGER
