spring.datasource.url=jdbc:mysql://localhost:3306/rentalcarkiosk
spring.datasource.username=root
spring.datasource.password=V7k8uNmhg9kx8IrkU6PUdg==
spring.datasource.driver-class-name=com.mysql.jdbc.Driver
kioskId={{ app_kiosk }}
sucursalId={{ app_office }}
kioskCountry={{ app_country }}
endProcessTimeout=10000
pathDevicesIni=C:\\RENTALCAR\\CRrentalcar.ini
viewManager.showOnPrimaryScreen=true
viewManager.allowTwoMonitors=true
keySensorPresence.scheduleFrequency=300000
crAppPath=C:\\RENTALCAR\\test\\TestrentalcarDLL_M1.exe
isChuteActive=true
isChuteLockingActive=false
isCheckKeyPresenceEnabled=true
keyPresenceScheduleFrequency=60000
parkingDispenser={{ app_parking_dispenser }}
isDepositEnabled=false
timeTabletimeout=15000
delayStatus=300
alwaysOnTop=true
mouseEnabledInternalScreen=false
refresh.configuration.milliseconds=86400000
check.door.closed.period=5000
