;;;; FICHERO DE CONFIGURACION DE CDVSID ;;;;

[CONFIGURACION]
NOMBREDAEMON = CDV_{{ ansible_hostname }}_01
NOMBREPC = {{ ansible_hostname }}_CDV
PUERTOESCUCHA = {{ sar_cdv_service_port }}   

[PROCESOCDV]
; EL TIPO DE PROCESAMIENTO PUEDE SER SERIE/PARALELO
TIPOPROCESAMIENTO = PARALELO
MAXREINTENTOSPROCESO = 5
TIEMPOENTRECHEQUEO = 20
TIMEOUTPROCESO = 100000
TIMEOUTTOTALPROCESOS = 120000

[SERVIDORCDV]
IPSERVIDOR = {{ sar_cdv_db_reference[ansible_hostname] }}
NOMBREBD = {{ sar_cdv_db_name }}
;USUARIO
;PASSWORD
TIPOPROVEEDOR = POOL
NUMCONEXIONESPOOL = 100
NUMMAXCONEXIONESPOOL = 200

[SERVIDORLOGSIS]
IPSERVIDOR = {{ sar_cdv_log_server }}
NOMBREBD = BDLOGSIS
;USUARIO
;PASSWORD
TIPOPROVEEDOR = POOL
NUMCONEXIONESPOOL = 100
NUMMAXCONEXIONESPOOL = 200

[SERVIDORCONFIGURACIONSIS]
IPSERVIDOR = {{ sar_cdv_log_server }}
NOMBREBD = BDConfiguracionSIS
;USUARIO
;PASSWORD
TIPOPROVEEDOR = POOL
NUMCONEXIONESPOOL = 10
NUMMAXCONEXIONESPOOL = 10

[SERVIDORBRIDGEUNO]
IPSERVIDOR= {{ sar_bridge_server1 }}
NOMBREBD=BDConfiguracionBrigeSAR

[SERVIDORBRIDGEDOS]
IPSERVIDOR= {{ sar_bridge_server2 }}
NOMBREBD=BDConfiguracionBrigeSAR


[SERVIDORSIGGER]
IPSERVIDOR = {{ sigger_db_host }}
NOMBREBD = {{ sigger_db_name }}
;USUARIO
;PASSWORD
TIPOPROVEEDOR=POOL
NUMCONEXIONESPOOL=1
NUMMAXCONEXIONESPOOL=3
NOMBRELOG=Logs\ProveedorBDSIGGER\logProveedorBDSIGGER
