# Maintained by Ansible
{% include './includes/base_ksql.properties.j2' %}

security.protocol=SASL_SSL
sasl.mechanism=GSSAPI
sasl.kerberos.service.name=kafka
sasl.security.protocol=SASL_SSL
producer.confluent.monitoring.interceptor.security.protocol=SASL_SSL
consumer.confluent.monitoring.interceptor.security.protocol=SASL_SSL

#SSL additions
ssl.truststore.location={{ kerberos.jks_store_folder }}/kafka.client.truststore.jks
ssl.truststore.password={{ kerberos.storepass_secret }}
ssl.keystore.location={{ kerberos.jks_store_folder }}/kafka.client.keystore.jks
ssl.keystore.password={{ kerberos.keypass_secret }}
ssl.key.password={{ host_keystore_storepass }}
producer.confluent.monitoring.interceptor.ssl.truststore.location={{ kerberos.jks_store_folder }}/kafka.client.truststore.jks
producer.confluent.monitoring.interceptor.ssl.truststore.password={{ kerberos.storepass_secret }}
producer.confluent.monitoring.interceptor.ssl.keystore.location={{ kerberos.jks_store_folder }}/kafka.client.keystore.jks
producer.confluent.monitoring.interceptor.ssl.keystore.password={{ kerberos.keypass_secret }}
producer.confluent.monitoring.interceptor.ssl.key.password={{ host_keystore_storepass }}
consumer.confluent.monitoring.interceptor.ssl.truststore.location={{ kerberos.jks_store_folder }}/kafka.client.truststore.jks
consumer.confluent.monitoring.interceptor.ssl.truststore.password={{ kerberos.storepass_secret }}
consumer.confluent.monitoring.interceptor.ssl.keystore.location={{ kerberos.jks_store_folder }}/kafka.client.keystore.jks
consumer.confluent.monitoring.interceptor.ssl.keystore.password={{ kerberos.keypass_secret }}
consumer.confluent.monitoring.interceptor.ssl.key.password={{ host_keystore_storepass }}


#SASL additions
sasl.jaas.config=com.sun.security.auth.module.Krb5LoginModule required \
   useKeyTab=true \
   storeKey=true \
   keyTab="{{kerberos.keytab_dir}}/client-{{inventory_hostname}}.keytab" \
   principal="client/{{inventory_hostname}}@{{kerberos.realm|upper()}}";

producer.confluent.monitoring.interceptor.sasl.jaas.config=com.sun.security.auth.module.Krb5LoginModule required \
   useKeyTab=true \
   storeKey=true \
   keyTab="{{kerberos.keytab_dir}}/client-{{inventory_hostname}}.keytab" \
   principal="client/{{inventory_hostname}}@{{kerberos.realm|upper()}}";

producer.confluent.monitoring.interceptor.sasl.mechanism=GSSAPI
producer.confluent.monitoring.interceptor.sasl.kerberos.service.name=kafka

consumer.confluent.monitoring.interceptor.sasl.jaas.config=com.sun.security.auth.module.Krb5LoginModule required \
   useKeyTab=true \
   storeKey=true \
   keyTab="{{kerberos.keytab_dir}}/client-{{inventory_hostname}}.keytab" \
   principal="client/{{inventory_hostname}}@{{kerberos.realm|upper()}}";

consumer.confluent.monitoring.interceptor.sasl.mechanism=GSSAPI
consumer.confluent.monitoring.interceptor.sasl.kerberos.service.name=kafka
