# Maintained by Ansible
{% include './includes/base_ksql.properties.j2' %}

security.protocol=SASL_SSL
producer.confluent.monitoring.interceptor.security.protocol=SASL_SSL
consumer.confluent.monitoring.interceptor.security.protocol=SASL_SSL

#SSL additions
ssl.truststore.location={{ kerberos.jks_store_folder }}/kafka.client.truststore.jks
ssl.truststore.password={{ kerberos.storepass_secret }}
ssl.keystore.location={{ kerberos.jks_store_folder }}/kafka.client.keystore.jks
ssl.keystore.password={{ kerberos.keypass_secret }}
ssl.key.password={{ host_keystore_storepass }}
producer.confluent.monitoring.interceptor.ssl.truststore.location={{ kerberos.jks_store_folder }}/kafka.client.truststore.jks
producer.confluent.monitoring.interceptor.ssl.truststore.password={{ kerberos.storepass_secret }}
producer.confluent.monitoring.interceptor.ssl.keystore.location={{ kerberos.jks_store_folder }}/kafka.client.keystore.jks
producer.confluent.monitoring.interceptor.ssl.keystore.password={{ kerberos.keypass_secret }}
producer.confluent.monitoring.interceptor.ssl.key.password={{ host_keystore_storepass }}
consumer.confluent.monitoring.interceptor.ssl.truststore.location={{ kerberos.jks_store_folder }}/kafka.client.truststore.jks
consumer.confluent.monitoring.interceptor.ssl.truststore.password={{ kerberos.storepass_secret }}
consumer.confluent.monitoring.interceptor.ssl.keystore.location={{ kerberos.jks_store_folder }}/kafka.client.keystore.jks
consumer.confluent.monitoring.interceptor.ssl.keystore.password={{ kerberos.keypass_secret }}
consumer.confluent.monitoring.interceptor.ssl.key.password={{ host_keystore_storepass }}

#SASL additions
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="client" password="client-secret";
sasl.mechanism=PLAIN
producer.confluent.monitoring.interceptor.sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="client" password="client-secret";
producer.confluent.monitoring.interceptor.sasl.mechanism=PLAIN
consumer.confluent.monitoring.interceptor.sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="client" password="client-secret";
consumer.confluent.monitoring.interceptor.sasl.mechanism=PLAIN