java -jar {{ keyngo_kioskj_artifact_jar }} {{ keyngo_kioskj_svc_param_name }} {{ keyngo_kioskj_svc_param_id }} {{ keyngo_kioskj_svc_param_port }} {{ keyngo_kioskj_svc_param_server }} {{ keyngo_kioskj_svc_param_5 }}