;;;; FICHERO DE CONFIGURACION DE SARSISD ;;;;

[CONFIGURACION]
NOMBREDAEMON = SARSISD_{{ ansible_hostname }}_01
NOMBREPC = {{ ansible_hostname }}
NOMBREEJECUTABLE = {{ sar_sis_artifact_name }}
PASSWORDOPENSSL = 'rentalcarSARG2v100'
RUTACERTIFICADORAIZ = 'C:\SARSISD\certificados\CA_cert.pem'
RUTACERTIFICADO = 'C:\SARSISD\certificados\rentalcar-sarsis.cert'
RUTAKEY = 'C:\SARSISD\certificados\Cert_PrivateKey.pem'
PUERTOESCUCHAHTTP = 9002
PUERTOESCUCHAHTTPS = 9443
NOMBRELOG=Logs\logSARSISDWebServer
CONTROLARPETICIONESMASIVAS = 0
REDISPASS= {{ sar_sis_redis_pass }}
REDISTIMEOUT=500

[CONFIGURACIONSOCKET]
NUMREINTENTOSCONEXION = 5
NUMREINTENTOSESCRITURA = 5
NUMREINTENTOSLECTURA = 50
TIEMPOENTREREINTENTOSLECTURA = 300
TIEMPOVENTANAEJECUCION = 10000
TIEMPOVENTANAEJECUCIONTSD = 180000

[SERVIDORCONFIGURACIONSIS]
IPSERVIDOR = localhost
NOMBREBD = BDCONFIGURACIONSIS
;USUARIO
;PASSWORD
TIPOPROVEEDOR=POOL
NUMCONEXIONESPOOL=50
NUMMAXCONEXIONESPOOL=100
NOMBRELOG=Logs\ProveedorBDConfiguracionSIS\logProveedorBDConfiguracionSIS

[SERVIDORLOGSIS]
IPSERVIDOR = {{ sar_sis_log_server }}
NOMBREBD = BDLOGSIS
;USUARIO
;PASSWORD
TIPOPROVEEDOR=POOL
NUMCONEXIONESPOOL=100
NUMMAXCONEXIONESPOOL=200
NOMBRELOG=Logs\ProveedorBDLogSIS\logProveedorBDLogSIS

[SERVIDORSARSIS]
IPSERVIDOR = localhost
NOMBREBD = BDSARSIS
;USUARIO
;PASSWORD
TIPOPROVEEDOR=POOL
NUMCONEXIONESPOOL=50
NUMMAXCONEXIONESPOOL=100
NOMBRELOG=Logs\ProveedorBDSARSIS\logProveedorBDSARSIS

[SERVIDORSIGGER]
IPSERVIDOR = {{ sigger_db_host }}
NOMBREBD = {{ sigger_db_name }}
;USUARIO
;PASSWORD
TIPOPROVEEDOR=POOL
NUMCONEXIONESPOOL=100
NUMMAXCONEXIONESPOOL=200
NOMBRELOG=Logs\logProveedorBDSIGGER

[SERVIDORSIGGERSIS]
IPSERVIDOR = {{ sar_sis_db_reference[ansible_hostname] }}
NOMBREBD = {{ sar_sis_dbsis_name }}
;IPSERVIDOR = SIGGERSERVER
;NOMBREBD = BDSIGGER
TIPOPROVEEDOR=POOL
NUMCONEXIONESPOOL=100
NUMMAXCONEXIONESPOOL=200
NOMBRELOG=Logs\ProveedorBDSiggerSIS\logProveedorBDSIGGERSIS

[CONFIGURACIONFACTORIAS]
;LOGIN
;PASSWORD
NUMCONEXIONESPOOL=50
NUMMAXCONEXIONESPOOL=100

[PROCESOCDVTAR]
ESTRATEGIACDV=PARALELO
ESTRATEGIATAR=PARALELO
MAXREINTENTOSPROESO=6
TIEMPOENTRECHEQUEO=1
TIMEOUTPROCESO=7000
TIMEOUTTOTALPROCESOS=20000

[CONFIGURACIONTED]
PUERTO=9005
IP=DAEMONSERVER

[SERVIDORBRIDGEUNO]
IPSERVIDOR= {{ sar_bridge_server1 }}
NOMBREBD=BDConfiguracionBrigeSAR

[SERVIDORBRIDGEDOS]
IPSERVIDOR= {{ sar_bridge_server2 }}
NOMBREBD=BDConfiguracionBrigeSAR

[CONFIGURACIONREENVIOSOCKETTAR]
IPREENVIOSOCKETTAR=MADPRI02
PUERTOREENVIOSOCKETTAR=9006

