java -jar -Dlogging.config=./logback-spring.xml {{ mssown_mss_artifact_jar }} {{ mssown_mss_svc_param_name }} {{ mssown_mss_svc_param_id }} {{ mssown_mss_svc_param_port }} {{ mssown_mss_svc_param_server }} {{ mssown_mss_svc_param_5 }}